files:
  "/etc/security/limits.conf":
    content: |
      *           soft    nofile          65535
      *           hard    nofile          65535

commands:
  01:
    command: "sysctl -w \"net.ipv4.tcp_timestamps=1\""
  02:
    command: "sysctl -w \"net.ipv4.tcp_tw_reuse=1\""
  03:
    command: "sysctl -w \"net.core.netdev_max_backlog=30000\""
  04:
    command: "sysctl -w \"net.core.somaxconn=2048\""
  05:
    command: "sysctl -w \"net.ipv4.tcp_max_syn_backlog=2048\""
  06:
    command: "echo \"net.ipv4.tcp_max_tw_buckets=2000000\" >> /etc/sysctl.conf"
  07:
    command: "echo \"819200\" > /proc/sys/fs/file-max"
  08:
    command: "echo \"1024 65535\" > /proc/sys/net/ipv4/ip_local_port_range"
  10:
    command: "sysctl -p"
