commands:
  00_install_pinpoint_agent:
    command: |
      cd /tmp && wget -q https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-install-files/naverpinpoint-agent/pinpoint-agent-1.8.0.tar.gz -O pinpoint-agent-1.8.0.tar.gz \
      && mkdir -p /pinpoint-agent-1.8.0 && tar xzvf pinpoint-agent-1.8.0.tar.gz -C /pinpoint-agent-1.8.0 && cd /tmp && rm -rf pinpoint-agent-1.8.0*
    test: test ! -f /pinpoint-agent-1.8.0/pinpoint-bootstrap-1.8.0.jar
  01_config_pinpoint_agent:
    command: |
      wget -q https://s3.ap-northeast-2.amazonaws.com/yanolja-config-backup/pinpoint-agent-backup/pinpoint-1.8.0.config -O /pinpoint-agent-1.8.0/pinpoint.config \
      && sed -i "/profiler.instrument.engine=/ s/=.*/=JAVASSIST/" /pinpoint-agent-1.8.0/pinpoint.config \
      && sed -i "/profiler.sampling.rate=/ s/=.*/=20/" /pinpoint-agent-1.8.0/pinpoint.config \
      && sed -i "/profiler.tomcat.excludemethod=/ s/=.*/=/" /pinpoint-agent-1.8.0/pinpoint.config
  02_change_owner:
    command: "chown -R webapp.webapp /pinpoint-agent-1.8.0"
  03_remove_link:
    command: "rm -rf /pinpoint-agent"
  04_create_link:
    command: "ln -s /pinpoint-agent-1.8.0 /pinpoint-agent"